<div class="container">
  <div class="user-details">
    <h3> Projects </h3>
  </div>
<div class="row user-projects">
    <div class="six columns">
      <img alt="img 4" src="{{ "/assets/img/projects/4.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>  Improvement In Face Recognition Technique </h5>
      <ul>
        <li>Research & Development</li>
        <li> January 2017 - Present</li>
      </ul>
    As a Research and Development Project, working over improvement of face recognition techniques. Reading previous research papers and finding about the drawbacks of techniques used earlier. Currently reading techniques used by facebook and google for face recognition i.e., Deep Learning. <br/>
                                <p></p><strong>My Contribution: </strong> Working on Google's research paper which gives detailed information about techniques used by Google to recognise the face. Developing Front-end of the Engine  and study regarding working of OCR and Elastic Search.

  </div>
</div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="img5" src="{{ "/assets/img/projects/5.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Indian History Quest </h5>
      <li> Question Answer Engine</li>
      <li> January 2017 - Present</li>
      <p>To develop an efficient Q and A engine to answer the natural language query for INDIAN HISTORY in one sentence rather than providing the reference links for the answer.
                                                                  The efficiency of the Engine will be calculated in terms of processing time and specificness of the answer. Speciality of our Q and A enigne is that the domain of the questions asked will be INDIAN HISTORY which is Restricted domain.
                                                                  User can ask Factoid Questions which include who, when, where, what, which. The data source that will be used is Unstructured one like web pages, books, articles, etc.<br/> <p> <p/> <strong>My COntribution: </strong>Learning about Natural language processing and working of an QAEngine. Also trying to work on Console.


    </div>
  </div>
<div class="row user-projects">
    <div class="six columns">
      <img alt="img 6" src="{{ "/assets/img/projects/6.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Launch Attack on DES Encryption </h5>
      <ul>
        <li> Information Security</li>
        <li>January 2017 - Present </li>
      </ul>
     In this project, aim is to understand the innards of Data Encryption Standard (DES). DES is the first symmetric key encryption standard adopted by NIST and US federal agencies including banking sector.
                                Though DES is not the first or last block cipher it definitely is computer science’s first step towards increasing security by using cryptography. The first block cipher happens to be Lucifer, introduced by
                                IBM and is a direct precursor to DES. Thus, DES is kind of influenced by the design of Lucifer. Built the original code for DES Encryption. After this design of launching an attack on DES code breaking using known plain text brute force
                                attack is required. For this phase “plain text” and "cipher text” is needed. The attack must find the “key” used to perform this encryption.

  </div>
</div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="img 3" src="{{ "/assets/img/projects/3.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>  Anvesh  </h5>
      <ul>
        <li>The Smart Search Engine</li>
        <li> September 2016 - December 2016 </li>
      </ul>
   Developed a smart search engine which optimises the search. It provides result in a sorted way which makes easy for user to get the resulted document.
                                It also works as a online file management system. It stores the file in the online database or cloud where your file is safe. User can view as well as download the document.
                                The speciality of this engine is that it can search within the non- searchable pdfs as well as within images with the help of OCR and Elastic Search.
                                It convert images or non-serachable pdfs into text files and searchable pdfs and then performs the search. It also provide multiple search.</p>
                              <p><strong> My Contribution:</strong> Developing Front-end of the Engine  and study regarding working of OCR and Elastic Search </p>

                               <a class="project-link" href="https://github.com/NIIT-Software-Engineering/Jagrit-Vinit-Jeel-Mansi-Manoj/blob/master/README.md">Check it out</a>
    
  </div>
</div>
<div class="row user-projects">
    <div class="six columns">
      <img alt="img 2" src="{{ "/assets/img/projects/2.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Event Management System </h5>
      <ul>
        <li>  Database System </li>
        <li> February 2016 - May 2016 </li>
      </ul>
    Developed a system for event management as a Database management system course project. The coding for database system is done using MySQL . </p>

      <a class="project-link" href="https://github.com/manasisingh67/DBMS/blob/master/Database%20management%20systems.docx">Check it out</a>
    
  </div>
</div>
                     
    
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="img1" src="{{ "/assets/img/projects/1.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Ayurveda Online Solutions </h5>
      <li> Entrepreneurship Project</li>
      <li> September 2015 - December 2015</li>
      <p>The project includes the business plan for a small venture. It is basically an idea of platform based business which connects costumers who require ayurvedic medicines and the suppliers. It also had additional features of onnline consultancy with doctor.  </p>
                            <a class="project-link" href="https://github.com/manasisingh67/business/blob/master/Business%20plan%20ayurvedic%20online%20solutions%20-%206%20(8).docx">Check it out</a>


    </div>
  </div>
